Source: diffraction-simulation-toolkit
Section: science
Priority: optional
Maintainer: Ryan Hilbert <rlhilbert@bnl.gov>
Build-Depends: qtbase5-dev, ocl-icd-opencl-dev (>= 1.1), debhelper (>= 8)
Standards-Version: 3.9.4
Homepage: https://github.com/R-Hilbert/diffraction-simulation-toolkit#readme
Vcs-Git: https://github.com/R-Hilbert/diffraction-simulation-toolkit.git
Vcs-Browser: https://github.com/R-Hilbert/diffraction-simulation-toolkit

Package: diffraction-simulation-toolkit
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: simulate dynamical diffraction experiments
 The diffraction-simulation-toolkit simulates dynamical diffraction experiments.
